<h1>Novo Template</h1>

<%= form_with model: @template, url: create_admin_template_path, local: true do |f| %>

  <div>
    <%= form.label :name, 'Nome do Template' %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, 'Descrição' %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.submit 'Criar Template' %>
  </div>

<% end %>