<h1>Cadastrar Usuário</h1>

<%= form_with model: @user, local: true do |form| %>
  <div>
    <%= form.label :username %>
    <%= form.text_field :username, required: true %>
  </div>

  <div>
    <%= form.label :matricula %>
    <%= form.text_field :matricula, required: true %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.email_field :email, required: true %>
  </div>

  <div>
    <%= form.label :password %>
    <%= form.password_field :password, required: true %>
  </div>

  <div>
    <%= form.label :role %>
    <%= form.select :role, User.roles.keys.map { |r| [r, r] } %>
  </div>

  <div>
    <%= form.submit "Cadastrar" %>
  </div>
<% end %>