<div class="topbar">
  <div class="topbar-left">
    <button id="menu-toggle" class="menu-icon" type="button">
      <i class="fas fa-bars"></i>
    </button>
    <h2 class="page-title"><%= yield(:page_title) %></h2>
  </div>
  
  <div id="menu-container" class="menu-container">
    <% if session[:user_type] == "user" %>
      <button class="menu-button" onclick="window.location.href='<%= questionarios_path %>'">Avaliação</button>
    <% elsif session[:user_type] == "admin" %>
      <button class="menu-button" onclick="window.location.href='<%= questionarios_path %>'">Avaliação</button>
      <button class="menu-button" onclick="window.location.href='<%= admin_management_path %>'">Gerenciamento</button>
    <% end %>
  </div>
  
  <div class="topbar-right">
    <div class="search-container">
      <input type="text" placeholder="Pesquisar..." class="search-input">
      <i class="fas fa-search search-icon"></i>
    </div>
    
    <div class="user-menu-container">
      <button id="user-menu-toggle" class="user-icon" type="button">
        <i class="fas fa-user-circle"></i>
      </button>
      <div id="user-dropdown" class="user-dropdown">
        <% if session[:user_type] == "user" %>
          <%= link_to "Logout", root_path, method: :delete, class: "logout-link" %>
        <% else %>
          <%= link_to "Logout", root_path, method: :delete, class: "logout-link" %>
        <% end %>
      </div>
    </div>
  </div>
</div>